# Analyzing Risk Between Two Companies

In [1]:
import numpy as np
import pandas as pd
from pandas_datareader import data as web
import matplotlib.pyplot as plt

In [2]:
#throughout this notebook we are going to be comparing P&G and it's German competitor, Beiersdorf
tickers = ['PG', 'BEI.DE']

sec_data = pd.DataFrame()

for t in tickers:
    sec_data[t] = web.DataReader(t, data_source = 'yahoo', start = '2007-1-1')['Adj Close']

In [3]:
sec_data.tail()

                    PG      BEI.DE
Date
2019-12-19  124.919998  105.050003
2019-12-20  125.360001  107.050003
2019-12-23  124.900002  106.849998
2019-12-24  125.220001         NaN
2019-12-26  125.220001         NaN

In [4]:
sec_data.head()

                   PG     BEI.DE
Date
2007-01-03  43.693184  39.869827
2007-01-04  43.361443  40.131615
2007-01-05  42.989105  39.306618
2007-01-08  43.083870  39.314541
2007-01-09  42.975552  38.426079

In [5]:
#finding the logarithmic rate of return of the securities
sec_returns = np.log(sec_data / sec_data.shift(1))

In [6]:
#printing data frame
sec_returns

                  PG    BEI.DE
Date
2007-01-03       NaN       NaN
2007-01-04 -0.007621  0.006545
2007-01-05 -0.008624 -0.020772
2007-01-08  0.002202  0.000202
2007-01-09 -0.002517 -0.022858
2007-01-10  0.011901 -0.012673
2007-01-11  0.006208  0.007498
2007-01-12  0.005554  0.009295
2007-01-16  0.000000  0.024572
2007-01-17  0.010304 -0.041783
2007-01-18  0.002750  0.011025
2007-01-19  0.008357 -0.002071
2007-01-22 -0.005614 -0.000829
2007-01-23 -0.001218  0.001037
2007-01-24 -0.001982  0.013382
2007-01-25 -0.009047 -0.019619
2007-01-26 -0.000925  0.000208
2007-01-29  0.000308  0.013050
2007-01-30 -0.004480  0.026202
2007-01-31  0.004326  0.032932
2007-02-01  0.007219 -0.010923
2007-02-02  0.000000  0.007035
2007-02-05 -0.002912  0.000973
2007-02-06 -0.008633 -0.004876
2007-02-07 -0.001704 -0.000391
2007-02-08  0.001704 -0.010618
2007-02-09 -0.002480  0.001777
2007-02-12 -0.004199 -0.000987
2007-02-13  0.008536  0.001382
2007-02-14  0.002623  0.012934
...              ...       ...
2019-11-13  0.011504  0.003331
2019-11-14 -0.001244 -0.001426
2019-11-15  0.000332  0.006166
2019-11-18  0.011137  0.004246
2019-11-19 -0.003863 -0.001885
2019-11-20  0.007140 -0.005202
2019-11-21 -0.016074 -0.010965
2019-11-22 -0.000416 -0.008666
2019-11-25  0.001827  0.005786
2019-11-26  0.014417  0.015267
2019-11-27 -0.004098  0.000473
2019-11-29  0.002461  0.001891
2019-12-02  0.005393 -0.023418
2019-12-03  0.001872  0.012494
2019-12-04  0.012769  0.006189
2019-12-05  0.000722 -0.013859
2019-12-06 -0.003456  0.008625
2019-12-09  0.005461 -0.009588
2019-12-10 -0.004817 -0.002894
2019-12-11  0.003133  0.003376
2019-12-12 -0.000722 -0.009676
2019-12-13  0.007199  0.000972
2019-12-16  0.000717  0.011589
2019-12-17 -0.001993 -0.011589
2019-12-18 -0.010428  0.007741
2019-12-19  0.007311  0.012452
2019-12-20  0.003516  0.018860
2019-12-23 -0.003676 -0.001870
2019-12-24  0.002559       NaN
2019-12-26  0.000000       NaN

[3269 rows x 2 columns]

## P&G

- the standard deviation of a company's return can be called it's risk or volatility
- a stock whose return show large deviation from its mean is said to be more volatile

In [7]:
#average logarithmic return of P&G
sec_returns['PG'].mean()

0.0003221787285747798

In [8]:
#average annual logarithmic return of P&G
sec_returns['PG'].mean() * 250

0.08054468214369494

In [9]:
#calculates variance of P&G; shows the risk/volatility
sec_returns['PG'].std()

0.010956227513893064

In [10]:
#annualizing figure above; shows the standard deviation
sec_returns['PG'].std() * 250 ** 0.5

0.17323316753453089

## Beiersdorf

In [67]:
#repeating the same process as the one above for Beiersdorf
sec_returns['BEI.DE'].mean()

0.00028464842507997293

In [68]:
sec_returns['BEI.DE'].mean() * 250

0.07116210626999324

In [69]:
sec_returns['BEI.DE'].std()

0.0135775703073459

In [70]:
sec_returns['BEI.DE'].std() * 250 ** 0.5

0.21468023631142727

## Compare Results

In [15]:
#prints the annual returns from both P&G and Beiersdorf
print(sec_returns['PG'].mean() * 250)
print(sec_returns['BEI.DE'].mean() * 250)

0.08054468214369494
0.07116210626999324

In [16]:
#prints the volatility of both P&G and Beiersdorf
print(sec_returns['PG'].std() * 250 ** 0.5)
print(sec_returns['BEI.DE'].std() * 250 ** 0.5)

0.17323316753453089
0.21468023631142727

In [65]:
#P&G has historically shown a higher annual rate of return and a lower volatility
#based off this information, it is likely a better investment than Beiersdorf
#Lets dive a bit deeper into analyzing the risk:

---

## Calculating Covariance and Correlation

- pandas.DataFrame.var() calculates the variance
- pandas.DataFrame.cov() computes pairwise covariance of columns
- pandas.DataFrame.corr() computes pairwise correlation of columns

In [18]:
#finding the variance of P&G
PG_var = sec_returns['PG'].var()
PG_var

0.00012003892133618739

In [19]:
#finding the variance of Beiersdorf
BEI_var = sec_returns['BEI.DE'].var()
BEI_var

0.00018435041545092102

In [20]:
#computes the annual variance of both companies, prints them out
PG_var_annual = sec_returns['PG'].var() * 250
BEI_var_annual = sec_returns['BEI.DE'].var() * 250

print(PG_var_annual)
print(BEI_var_annual)

0.030009730334046848
0.04608760386273025

In [21]:
#prints the covariance matrix
cov_matrix = sec_returns.cov()
cov_matrix

              PG    BEI.DE
PG      0.000120  0.000039
BEI.DE  0.000039  0.000184

In [22]:
#prints the annual covariance matrix
cov_matrix_annual = sec_returns.cov() * 250
cov_matrix_annual

              PG    BEI.DE
PG      0.030010  0.009642
BEI.DE  0.009642  0.046088

In [23]:
#the top left corner represents the annual variance of PG
#the bottom right corner represents the annual variance of Beiersdorf
#the other two cells represent the covariance between the two companies (should be same value)

In [24]:
corr_matrix = sec_returns.corr()
corr_matrix

              PG    BEI.DE
PG      1.000000  0.259244
BEI.DE  0.259244  1.000000

In [27]:
#this is not the correlation between the price of the two equities [corr(prices)]
#rather, this reflects the dependence between prices at diffeerent times and focuses on the returns of your porfolio [corr(returns)]
#correlation between different stocks can include variables such as industry growth, revenue growth, profitability, regulatory environment, etc.

---


## Calculating Porfolio Risk

#### Equal weighting scheme:

In [50]:
weights = np.array([0.5, 0.5])

#### Porfolio Variance:

In [81]:
#calculating the porfolio variance through numpy's dot product formula
pfolio_var = np.dot(weights.T, np.dot(sec_returns.cov() * 250, weights))
pfolio_var

0.023845207564114745

In [82]:
print(str(round(pfolio_var, 5) * 100) + ' %')

2.385 %

#### Porfolio Volatility:

In [46]:
#calculiting the porfolio's volatility by taking the square root of the porfolio variance
pfolio_vol = (np.dot(weights.T, np.dot(sec_returns.cov() * 250, weights)) ** 0.5)
pfolio_vol

0.15441893525120146

In [47]:
print(str(round(pfolio_vol, 5) * 100) + ' %')

15.442 %

---

## Calculating Diversifiable and Non-Diversifiable Risk of a Portfolio:

In [51]:
weights = np.array([0.5, 0.5])

In [52]:
weights[0]

0.5

In [53]:
weights[1]

0.5

#### Diversifiable (Unsystematic) Risk:

In [62]:
#diversifable risk = porfolio variance - weighted annual variances
PG_var_annual = sec_returns['PG'].var() * 250
PG_var_annual

0.030009730334046848

In [63]:
#calculating the 
BEI_var_annual = sec_returns['BEI.DE'].var() * 250
BEI_var_annual

0.04608760386273025

In [93]:
#calculating the diversifiable risk
dr = pfolio_var - (weights[0] ** 2 * PG_var_annual) - (weights[1] ** 2 * BEI_var_annual)
dr

0.00482087401492047

In [94]:
#printing the diversifiable risk
print(str(round(dr * 100, 3)) + ' %')

0.482 %

#### Non-Diversifiable (Systematic) Risk:

In [85]:
#calculating non-diversifiable risk: method 1
n_dr_1 = pfolio_var - DR
n_dr_1

0.019024333549194274

In [89]:
#calculating non-diversifiable risk: method 2
n_dr_2 = (weights[0] ** 2 * PG_var_annual) + (weights[1] ** 2 * BEI_var_annual)
n_dr_2

0.019024333549194274

In [91]:
#both methods return the same answer
n_dr_1 == n_dr_2

True

In [92]:

print(str(round(n_dr_1 * 100, 5)) + ' %')

1.90243 %

#### Total Amount of Risk

In [99]:
#total risk = systematic risk + unsystematic risk
total_risk = dr + n_dr_1
print(str(round(total_risk * 100, 3)) + ' %')

2.385 %

In [101]:
#this number is equal to the porfolio variance... porfolio variance consists of systematic and unsystematic risk
#porfolio variance essentially tells us about the total risk of the portfolio